body {
    background-image: url("Img/Googles.png");
    background-color: #160C6E;
    background-size: 60vw 111vh;
    background-position: center 0;
    background-repeat: no-repeat;
    font-family: 'Montserrat';
}

.damaluli-1,
.damaluli-3,
.damaluli-4 {
    display: none !important;
}

.position-2 {
    position: relative;
    right: -40px;
    width: 100%;
    margin: 10px 0;
}


.text-1 {
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
}

.text-2 {
    font-size: 16.5px;
    color: rgba(255, 255, 255, 0.5)
}

.text-3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 177.1%;
    color: #FFFFFF;
    width: 50%;
}

.button-1 {
    background: linear-gradient(321.25deg, #DF387C -33.39%, #FF602C 103.69%);
    box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    border: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.hidden-1 {
    display: none;
}

@media (max-width: 1400px) {
    body {
        background-size: 66vw 120vh;
    }
}

@media (max-width:990px) {
    body {
        background-image: none;
    }

    .damaluli-1 {
        display: block !important;
    }

    .damaluli-4 {
        display: block !important;
    }

    .damaluli-2 {
        display: block;
    }

    .position-2 {
        left: -20px;
    }

    .text-3 {
        width: 75%;
    }
}

@media (max-width: 767px) {
    .damaluli-3 {
        display: block !important;
        margin: auto;
    }

    .damaluli-4 {
        display: none !important;
    }

    .text-3 {
        width: 100%;
    }
}